<style>
 
</style>

<!DOCTYPE html>
<html>
  <head>
    <title>ReviewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
        <div class="topnav">
            <p class="navbar-brand">Sheffield Electronic Reviews</p>
      
            <% if current_user %>
              <%= link_to "Home", '/static_pages/home', class:"mainLinks" %>
              <%= link_to "About Us", '/static_pages/about', class:"mainLinks" %>
              <%= link_to "Contact Us", '/static_pages/contact', class:"mainLinks" %>
              <%= link_to "View Products", products_path, class:"mainLinks" %>
              <%= link_to 'Log out', session_path('active'), method: :delete, class:"mainLinks", style: "float:right"%>

              <% if hasProfile %>
                <%= link_to "View Own Profile", profile_path(hasProfile), class:"mainLinks", style: "float:right" %>
              <% else %>
                <%= link_to "Create Profile", new_profile_path, class:"mainLinks", style: "" %>
              <% end %>

              <!--<%= link_to "View Profiles", profiles_path %> -->
            
              <!--<a> <%= current_user.userid %></a>-->
            <% else %>
              <%= link_to 'Log in', new_session_path, class: "active_nav_link mainLinks", style: "float:right"%>
              <%= link_to "Create Account", new_user_path, class:"mainLinks", style: "float:right" %>
              
            <% end %>
      
        </div>
    </div>

    <% if notice %>
      <%=  notice %>
    <% end %>

    <% if alert %>
      <%=  alert %>
    <% end %>

    <%= yield %>
  </body>
</html>

<script>
function showDropdownOptions() {
 // document.getElementById("myDropdown").toggle("show");
  $('.dropdown-content').toggle("show");
}

</script>