<style>
  /* Navbar container */
.topnav {
  overflow: hidden;
  background-color: #65606061;
}

/* Links inside the navbar */
.topnav a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
}

/* Add a background color to links on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: white;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: block;
  position: absolute;
  background-color: #c4c2c2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: red;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

</style>

<!DOCTYPE html>
<html>
  <head>
    <title>ReviewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
        <div class="topnav">
          <a class="active" href="#"><%= link_to "Home", '/static_pages/home' %></a>
          <a href="#"><%= link_to "About Us", '/static_pages/about' %></a>
          <a href="#"><%= link_to "Contact Us", '/static_pages/contact' %></a>
          <a href="#"><%= link_to "View Products", products_path %></a>
          <!--<div class="dropdown">
            <button class="dropbtn">Products
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">Product 1</a>
              <a href="#">Product 2</a>
              <a href="#">Product 3</a>
            </div>
          </div> -->
          <a href="#"><%= link_to "Create Profile", new_profile_path %></a>
          <a href="#"><%= link_to "View Profiles", profiles_path %></a>
          <a href="#"><%= link_to "Add Product", new_product_path %></a>
          
        </div>
    </div>

    <%= yield %>
  </body>
</html>