<style>
  /* Navbar container */
.topnav {
  overflow: hidden;
  background-color: #65606061;
}

/* Links inside the navbar */
.topnav a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
}

/* Add a background color to links on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: white;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  /*position: absolute;*/
  background-color: #c4c2c2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: white;
}

/* Show the dropdown menu on hover */
/*.dropdown:hover .dropdown-content {
  display: block;*/
}

</style>

<!DOCTYPE html>
<html>
  <head>
    <title>ReviewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
        <div class="topnav">
          
          <!--<div class="dropdown">
            <button class="dropbtn" onclick="showDropdownOptions()">Products
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#"><%= link_to "Smartphones", '/static_pages/smartphone' %></a>
              <a href="#"><%= link_to "Tablets", '/static_pages/tablet' %></a>
              <a href="#"><%= link_to "Smart TVs", '/static_pages/smartTV' %></a>
            </div>
          </div>  profile_path(@profile) -->
         
          <% if current_user %>
            <%= link_to "Home", '/static_pages/home' %>
            <%= link_to "About Us", '/static_pages/about' %>
            <%= link_to "Contact Us", '/static_pages/contact' %>
            <%= link_to "View Products", products_path %>
            <%= link_to "View Own Profile", style: "float:right" %> 
            <%= link_to "View Profiles", profiles_path %> 
            <%= link_to "Create Profile", new_profile_path, style: "float:right"%>
            <a> <%= link_to 'Log out', session_path('active'), method: :delete, style: "float:right"%></a>
            <!--<a> <%= current_user.userid %></a>-->
          <% else %>
            <%= link_to 'Log in', new_session_path, class: "active_nav_link", style: "float:right"%>
            <%= link_to "Create Account", new_user_path, style: "float:right" %>
            
          <% end %>
        </div>
    </div>

    <% if notice %>
      <%=  notice %>
    <% end %>

    <% if alert %>
      <%=  alert %>
    <% end %>

    <%= yield %>
  </body>
</html>

<script>
function showDropdownOptions() {
 // document.getElementById("myDropdown").toggle("show");
  $('.dropdown-content').toggle("show");
}

</script>