<div class="container">
	
	<h2>All Products</h2>

	<div class="search">
		<%= form_tag search_products_path, method: :get do %>
		<%= text_field_tag :term, nil, placeholder:'Search', class:'form-control searchInput' %>
		<%= submit_tag "Search", class:'btn btn-primary' %>
		<% end %>
	</div>

	<%= link_to "Add Product", new_product_path %>

	<table border="1" class="table">
		<tr>
			<th> Name </th>
			<th> Brand </th>
			<!--<th> Average Cost </th>
			<th> Category </th>
			<th> Released Date </th>
			<th> Description </th>-->
			<th> Product Photo </th>
			<th> Product Link </th>
		</tr>
		<% @products.each do |product| %>
		<tr>
			<td> <%= product.name %> </td>
			<td> <%= product.brand %> </td>
			<!--<td> <%= product.avgCost %> </td>
			<td> <%= product.category %> </td>
			<td> <%= product.releaseDate %> </td>
			<td> <%= product.description %> </td>-->
			<!--<td> <%= product.productPhoto %> </td>-->
			<td> <%= image_tag product.productPhoto.url, height:"70", width:"60" %> </td>
			<td> <%= link_to 'View Details', product_path(product) %> </td>
		</tr>
		<% end %>
	</table>
</div>