<div class="container">
	<h3>Product Details</h3>

	<p>Name: <%= @product.name %> </p>
	<p>Brand: <%= @product.brand %> </p>
	<p>Average Cost: <%= @product.avgCost %> </p>
	<p>Category: <%= @product.category %> </p>
	<p>Released Date: <%= @product.releaseDate %> </p>
	<p>Description: <%= @product.description %> </p>
	<!--<p>Product Photo: <%= @product.productPhoto %> </p>-->
	<p>Product Photo: <%= image_tag(@product.productPhoto.url, height:"90", width:"80") %> </p>
</div>