<div class="container">
	<h3>Product Details</h3>

	<p>Name: <%= @product.name %> </p>
	<p>Brand: <%= @product.brand %> </p>
	<p>Average Cost: <%= @product.avgCost %> </p>
	<p>Category: <%= @product.category %> </p>
	<p>Released Date: <%= @product.releaseDate %> </p>
	<p>Description: <%= @product.description %> </p>
	<p>User Photo: <%= @product.productPhoto %> </p>
</div>